@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {  
    font-family: 'Poppins',sans-serif;
    background-image: url('./image/birthday.jpg');
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    margin: 0;
    
    
}


.countdown-container {
    display: flex;
}

h1 {
    font-weight: normal;
    font-size: 4em;
    margin-top: 6rem;
    color: white;
    background-color: black;
    
}

.big-text{
    color: white;
    font-size: 3rem;
    line-height: 1;
    margin: 0 2rem;
    font-weight: bold;
    background-color: black;
}

.small-text {
    color: white;
}

.countdown-el {
    text-align: center;
}

.botoes {
    padding: 40px;
    padding-right: 100px;
}



.countdown-el span {
    font-size: 1.3rem;
}

.botao {
    background-color: black;
    color: white;
    border-width: 4px;
    font-family: 'Poppins',sans-serif;
    margin-left: 12px;
}
